build/
workdir/
out/
halium-generic-adaptation-build-tools/
*.img
*.gz
!dtbo.img
!overlay/system/android-rootfs.img
overlay/system/var/lib/lxc/android/vendor.img
overlay/system/var/lib/lxc/android/odm.img
