import /init.recovery.project.rc

on init
    setprop sys.usb.configfs 1
    setprop sys.usb.controller "a600000.dwc3"
    setprop sys.usb.ffs.aio_compat 0
    start load_touchscreen

on fs
    # Qualcomm bootdevice symlink for fstab resolution
    wait /dev/block/platform/soc/${ro.boot.bootdevice}
    symlink /dev/block/platform/soc/${ro.boot.bootdevice} /dev/block/bootdevice

on fs && property:ro.debuggable=0
    write /sys/class/udc/a600000.dwc3/device/cmode 2
    start adbd

on post-fs-data
   start setup_fake_cache
   wait_for_prop halium.datamount.done 1

service setup_fake_cache /bin/sh /setup_fake_cache.sh
   disabled
   oneshot

service load_touchscreen /bin/sh /load_touchscreen.sh
   disabled
   oneshot
