[Unit]
Description=Enables WLAN on boot (pipa)
After=local-fs.target
Before=NetworkManager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/pipa-boot-wlan.sh
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
