[Unit]
Description=Unblank physical display for Plymouth
DefaultDependencies=false
Before=plymouth-start.service

[Service]
Type=oneshot
ExecStart=/bin/sh -c 'for f in /sys/class/graphics/fb*/name; do if [ "$(cat $f)" = "msm" ]; then echo 1 > $(dirname $f)/blank; echo 0 > $(dirname $f)/blank; break; fi; done'
RemainAfterExit=yes

[Install]
WantedBy=sysinit.target
